.not-found-container {
    background-color: #f8f9fa;
    padding: 50px;
}

.not-found-text {
    margin-bottom: 30px;
}

.not-found-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.nav-link {
    text-decoration: none;
}
